/* Header styling */
:root {
    --fontFamily: Arial, Helvetica, sans-serif;
}

p{
    font-family: var(--fontFamily);
    font-size: 20px;
}

h4 {
    height: 50px;
    padding: 5px;
}

ul {
    display: flex;
    padding: 0;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: space-around;
}

li {
    font-family: var(--fontFamily);
    list-style: none;
    text-align: center;
    margin: 10px;
    width: 300px;
    border-radius: 25px;
    background-color: coral; 
    padding: 5px 0;
}

li:hover{
    cursor:pointer;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fontFamily);
    margin: 30px 0;
}

#time, #view-scores{
    display: inline;
    margin: 0 30px;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 3px solid blue;              TESTING */
    align-items: center;
    height: 100%;
}

#question, #answers, #choices, #feedback{
    text-align: center;
    font-family: var(--fontFamily);
    margin: 5px 0;
}

#question{
    font-size: 30px;
    width: 60%;
    margin: 15px 0 ;
    height: 100%;
    /* border: 3px solid green;           TESTING */
}

#choices{
    width: 60%;
    font-size: 23px;
    height: 100%;
    /* border: 3px solid purple;          TESTING */
    text-align: center;
}

#start{
    font-family: var(--fontFamily);
    font-size: 23px;
    margin: 20px 0;
    padding: 10px;
    background-color: blueviolet;
    border-radius: 25px;
    text-align: center;
    width: 200px;
}

#start:hover{
    cursor:pointer;
}

#feedback {
    margin-top: 15px;
    border-top: 3px solid lightgray;
    color: lightgrey;
    font-size: 23px;
    width: 60%;
    display: inline;
}

#go-back, #clear-score{
margin: 0 46px;
}

#score-item {
    border-radius: 0;
    background-color: lightblue; 
}
/* #initials form {
    display: block;
} */

#initials form button, #go-back, #clear-score {
    font-family: var(--fontFamily);
    background-color: coral;
    border: 0;
    padding: 5px;
    width: 100px;
    border-radius: 25px;
    display: inline;
}

#initials form label {
    font-family: var(--fontFamily);
}