/* Header styling */
:root {
    --fontFamily: Arial, Helvetica, sans-serif;
}

ul {
    padding: 0;
    margin: 0 30%;
}

li {
    list-style: none;
    text-align: center;
    margin: 10px;
    border-radius: 25px;
    background-color: coral; 
    padding: 5px 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: var(--fontFamily);
}

#time, #scores{
    margin: 30px 30px;
}

#quiz-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#question, #answers{
    text-align: center;
}

#question {
    margin: 50px 20% 0;
}

#answers{
    margin: 0 20% 50px;
}